<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +351 918 164 143</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> support@sinfone.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="/"><img src="{{utils.root}}images/home/logo.png" alt="" /></a>
                    </div>
                    <div class="btn-group pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                USA
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Canada</a></li>
                                <li><a href="#">UK</a></li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                EURO
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Dollar</a></li>
                                <li><a href="#">Pound</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            
                            {{#if session.username}}
                                <li><a href="{{utils.root}}history"><i class="fa fa-book"></i> History</a></li>
                            {{/if}}

                            <li><a href="{{utils.root}}products"><i class="fa fa-mobile"></i>Phones</a></li>
                            <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
                            <li><a href="{{utils.root}}checkout"><i class="fa fa-crosshairs"></i> Checkout</a></li>

                            <li class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="cart-dropdown-btn" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i> Cart
                                <span class="caret"></span>
                                </button>

                                <ul id="cart-dropdown" class="dropdown-menu" role="menu" aria-labelledby="cart-dropdown-btn">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="{{utils.root}}cart">
                                            <h4 class="text-center">GO TO CART</h4>
                                        </a>
                                    </li>
                                    {{#each session.cart}}
                                        <li role="presentation">
                                            <a href="{{../utils.root}}products/{{this.CodArtigo}}" role="menuitem" tabindex="-1">
                                                {{this.DescArtigo}} - {{this.pvp1}} x {{this.quantity}}
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>

                            {{#if session.username}}
                                <li><a href="#"><i class="fa fa-user"></i> {{session.username}}</a></li>
                                <li><a href="{{utils.root}}logout"><i class="fa fa-lock"></i> Logout</a></li>
                            {{else}}
                                <li><a href="{{utils.root}}login"><i class="fa fa-lock"></i> Login / Register</a></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <form action="{{utils.root}}products/search" method="get">
                            {{#if search.q}}
                                <input type="text" placeholder="{{search.q}}" name="q" required/>
                            {{else}}
                                <input type="text" placeholder="Search..." name="q" required/>
                            {{/if}}
                            
                            <button type="submit" class="btn btn-default">search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->

<div class="container alerts">
    {{#if alert}}
        <div class="alert alert-info alert-dismissable" role="alert"> 
            <strong>{{alert}}</strong>
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
        </div>
    {{/if}}
</div>