<!--left sidebar-->
<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Category</h2>
        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            
             <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="{{utils.root}}products/search?fam=smart">Smartphones</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="{{utils.root}}products/search?fam=reg">Phones</a></h4>
                </div>
            </div>
            
            <!--dropdown-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            Android
                        </a>
                    </h4>
                </div>
                <div id="sportswear" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a href="{{utils.root}}products/search?sub=android&brand=htc">HTC</a></li>
                            <li><a href="{{utils.root}}products/search?sub=android&brand=huawei">Huawei</a></li>
                            <li><a href="{{utils.root}}products/search?sub=android&brand=lg">LG</a></li>
                            <li><a href="{{utils.root}}products/search?sub=android&brand=motorola">Motorola</a></li>
                            <li><a href="{{utils.root}}products/search?sub=android&brand=samsung">Samsung</a></li>
                            <li><a href="{{utils.root}}products/search?sub=android&brand=sony">Sony</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            iOS
                        </a>
                    </h4>
                </div>
                <div id="mens" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a href="{{utils.root}}products/search?sub=ios&brand=iphone">iPhone</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            Windows
                        </a>
                    </h4>
                </div>
                <div id="womens" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a href="{{utils.root}}products/search?sub=windows&brand=htc">HTC</a></li>
                            <li><a href="{{utils.root}}products/search?sub=windows&brand=huawei">Huawei</a></li>
                            <li><a href="{{utils.root}}products/search?sub=windows&brand=lg">LG</a></li>
                            <li><a href="{{utils.root}}products/search?sub=windows&brand=motorola">Motorola</a></li>
                            <li><a href="{{utils.root}}products/search?sub=windows&brand=samsung">Samsung</a></li>
                            <li><a href="{{utils.root}}products/search?sub=windows&brand=sony">Sony</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/category-products-->

        <div class="brands_products"><!--brands_products-->
            <h2>Top Sellers</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{utils.root}}products/search?brand=samsung"> <span class="pull-right">(50)</span>Samsung</a></li>
                    <li><a href="{{utils.root}}products/search?brand=sony"> <span class="pull-right">(56)</span>Sony</a></li>
                    <li><a href="{{utils.root}}products/search?brand=lg"> <span class="pull-right">(27)</span>LG</a></li>
                </ul>
            </div>
        </div><!--/brands_products-->

        <div class="shipping text-center"><!--shipping-->
            <img src="{{utils.root}}images/home/shipping.jpg" alt="" />
        </div><!--/shipping-->

    </div>
</div>
<!--/left sidebar-->