<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
              <li><a href="{{utils.root}}">Home</a></li>
              <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>                    
                    {{#each session.cart}}                    
                        <tr>
                            <td class="cart_product">
                                <a href=""><img src="{{utils.root}}images/products/{{DescArtigo}}.jpg" alt="" /></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="{{../utils.root}}products/{{CodArtigo}}">{{DescArtigo}}</a></h4>
                                <p>Web ID: {{CodArtigo}}</p>
                            </td>
                            <td class="cart_price">
                                <p>{{pvp1}} €</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_down"> - </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="{{quantity}}" autocomplete="off" size="2">
                                    <a class="cart_quantity_up"> + </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price"> {{total}} €</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                            </td>
                        </tr>                   
                    {{/each}}
                </tbody>
            </table>
            
            {{#if session.cart}}
                <form action="{{utils.root}}products/clear_cart" method="post">
                    <button type="submit" class="btn btn-default get pull-right">CLEAR CART</button>
                </form>
            {{/if}}
            
            {{#unless session.cart}} 
                <h1 class="text-center"> Your cart is empty! </h1>
            {{/unless}}
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Only one step away from acquiring great products!</h3>
            <p>Check out your purchase info below. If it looks good to you, go ahead and check out!</p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="total_area">
                    <ul>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span>{{total}}€</span></li>
                    </ul>
                    <a class="btn btn-default check_out" href="{{utils.root}}checkout">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->