<section>
    <div class="container">
        <div class="row">
            
            <!--advertising bar-->
            <section id="advertisement">
                <div class="container">
                    <img src="{{utils.root}}images/shop/advertisement.jpg" alt="" />
                </div>
            </section>
            
            <!--left sidebar-->
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="{{utils.root}}products/search?fam=smart{{#if search.q}}&q={{search.q}}{{/if}}">Smartphones</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="{{utils.root}}products/search?fam=reg{{#if search.q}}&q={{search.q}}{{/if}}">Phones</a></h4>
                            </div>
                        </div>

                        <!--dropdown-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Android
                                    </a>
                                </h4>
                            </div>
                            <div id="sportswear" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="{{utils.root}}products/search?sub=android&brand=htc{{#if search.q}}&q={{search.q}}{{/if}}">HTC</a></li>
                                        <li><a href="{{utils.root}}products/search?sub=android&brand=huawei{{#if search.q}}&q={{search.q}}{{/if}}">Huawei</a></li>
                                        <li><a href="{{utils.root}}products/search?sub=android&brand=lg{{#if search.q}}&q={{search.q}}{{/if}}">LG</a></li>
                                        <li><a href="{{utils.root}}products/search?sub=android&brand=motorola{{#if search.q}}&q={{search.q}}{{/if}}">Motorola</a></li>
                                        <li><a href="{{utils.root}}products/search?sub=android&brand=samsung{{#if search.q}}&q={{search.q}}{{/if}}">Samsung</a></li>
                                        <li><a href="{{utils.root}}products/search?sub=android&brand=sony{{#if search.q}}&q={{search.q}}{{/if}}">Sony</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        iOS
                                    </a>
                                </h4>
                            </div>
                            <div id="mens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="{{utils.root}}products/search?sub=ios&brand=iphone{{#if search.q}}&q={{search.q}}{{/if}}">iPhone</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Windows
                                    </a>
                                </h4>
                            </div>
                            <div id="womens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="{{utils.root}}products/search?sub=windows&brand=htc{{#if search.q}}&q={{search.q}}{{/if}}">HTC</a></li>
                                        <li><a href="{{utils.root}}products/search?sub=windows&brand=huawei{{#if search.q}}&q={{search.q}}{{/if}}">Huawei</a></li>
                                        <li><a href="{{utils.root}}products/search?sub=windows&brand=lg{{#if search.q}}&q={{search.q}}{{/if}}">LG</a></li>
                                        <li><a href="{{utils.root}}products/search?sub=windows&brand=motorola{{#if search.q}}&q={{search.q}}{{/if}}">Motorola</a></li>
                                        <li><a href="{{utils.root}}products/search?sub=windows&brand=samsung{{#if search.q}}&q={{search.q}}{{/if}}">Samsung</a></li>
                                        <li><a href="{{utils.root}}products/search?sub=windows&brand=sony{{#if search.q}}&q={{search.q}}{{/if}}">Sony</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--/category-products-->

                    <div class="price-range"><!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well text-center">
                             <input 
                                    type="text" class="span2" 
                                    value="" 
                                    data-slider-min="0"
                                    data-slider-max="2000"
                                    data-slider-step="5" 
                                    data-slider-value="[{{#if search.min}} {{search.min}} {{else}} 0 {{/if}}, {{#if search.min}} {{search.max}} {{else}} 2000 {{/if}}]" 
                                    id="sl2" >
                            <br />
                            <b class="pull-left">€ 0</b> <b class="pull-right">€ 2000</b>
                        </div>
                    </div><!--/price-range-->

                    <div class="shipping text-center"><!--shipping-->
                        <img src="{{utils.root}}images/home/shipping.jpg" alt="" />
                    </div><!--/shipping-->

                </div>
            </div>
            <!--/left sidebar-->

            <div class="col-sm-9 padding-right">        
                <div class="features_items text-center">
                    <h2 class="title">Search Results</h2>
                    
                    {{#if search.q}}
                        <i class=""> Filtering by keyword/s: {{search.q}} </i> <br/>
                    {{/if}}
                    
                    {{#if search.min}}
                        <i> Filtering by min: {{search.min}} </i> <br/>
                    {{/if}}
                    
                    {{#if search.max}}
                        <i> Filtering by max: {{search.max}} </i> <br/>
                    {{/if}}
                    
                    {{#if search.fam}}
                        <i> Filtering by family: {{search.fam}} </i> <br/>
                    {{/if}}
                    
                    {{#if search.sub}}
                        <i> Filtering by subfamily: {{search.sub}} </i> <br/>
                    {{/if}}
                    
                    {{#if search.brand}}
                        <i> Filtering by brand: {{search.brand}} </i> <br/>
                    {{/if}}
                    
                    {{#if search.model}}
                        <i> Filtering by max: {{search.model}} </i> <br/>
                    {{/if}}
                    
                    <!--features_items-->
                    <div class="features_items">
                        {{#each products}}                                                     
                            <div class="col-sm-4">
                                <a href="{{../utils.root}}{{CodArtigo}}" class="text-center">
                                    <h3 class="product-desc"> {{DescArtigo}} </h3>
                                </a>
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{../utils.root}}images/products/{{DescArtigo}}.jpg" alt="" />
                                            <h2> {{pvp1}} € </h2>
                                            <p> {{DescArtigo}} </p>
                                        </div>
                                        <a href="{{../utils.root}}products/{{CodArtigo}}">
                                            <div class="product-overlay">
                                                <div class="overlay-content">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </div>
                                        </a>
                                        <img src="{{../utils.root}}images/home/sale.png" class="new" alt="" />
                                    </div>
                                    <div class="choose">
                                        <ul class="nav nav-pills nav-justified">
                                            <li>
                                                <a class="add-to-cart-inline" data-action="{{../utils.root}}products/add_to_cart" data-id="{{CodArtigo}}" disabled>
                                                    <i class="fa fa-plus-square"></i>
                                                    Add to cart
                                                </a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {{/each}}                  
                    </div>
                    <!--/features_items-->                   
                    <hr/>                    
                </div>
            </div>
        </div>
    </div>
</section>